# Answering the Question: What characters does The Data say I should use?
## Author: Kevin Stull

In [4]:
# libraries
import pandas as pd
import matplotlib.pyplot as plt

# load data
df_char_bases = pd.read_csv('fe_17_data_char_bases.csv')
df_char_growths = pd.read_csv('fe_17_data_char_growths.csv')
temp = pd.merge(df_char_bases, df_char_growths[['Name', 'Ch_Rec']], on='Name', how='left')
df_char_bases['Ch_Rec'] = temp['Ch_Rec'] 
df_char_bases.describe()

,HP,Str,Mag,Dex,Spd,Def,Res,Lck,Bld,Internal Level,Total,Total Without HP,Ch_Rec
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,1.944444,1.861111,1.333333,3.444444,1.444444,1.638889,1.694444,3.277778,0.666667,5.027778,17.305556,15.361111,9.500000
std,1.529602,1.987860,1.567528,2.557280,2.383808,2.002181,2.108750,2.172702,1.121224,7.751446,12.337676,11.774434,5.838297
min,0.000000,-2.000000,0.000000,-5.000000,-7.000000,-3.000000,0.000000,0.000000,-1.000000,0.000000,-10.000000,-14.000000,1.000000
25%,1.000000,0.000000,0.000000,2.000000,1.000000,0.750000,0.000000,1.750000,0.000000,0.000000,10.000000,10.000000,4.000000
50%,2.000000,2.000000,1.000000,3.000000,1.000000,1.000000,1.000000,3.000000,0.000000,0.000000,16.000000,14.000000,8.500000
75%,3.000000,3.000000,2.000000,4.250000,3.000000,2.250000,2.000000,5.000000,1.000000,15.000000,21.250000,18.250000,13.000000
max,7.000000,8.000000,6.000000,10.000000,8.000000,7.000000,10.000000,8.000000,4.000000,20.000000,56.000000,55.000000,22.000000

## Introduction
Fire Emblem Engage presents us with a simple problem, given 36 possible characters, which 10 or so should we put on our team? Should I just commit to the weaker early game character or hold off for this character in the late-game? What characters are best? In order to answer this question we are going to make a few assumptions. Number 1, we will assume that the classes are balanced, this means that a lvl 10 swordmaster is just as strong as a lvl 10 mage. While this assumption is almost certainly flawed, it gives us a nice starting point for our investigation which we can remove in later articles. 2nd, we are going to assume that every unit will have average growths. We could also investigate when certain characters become better or worse given random level ups, or just the level up schedule Nintendo provided, but for now, just to simplify things, we assume that the units always perfectly follow their growth curves. Lastly, we will ignore their innate skills. Obviously some characters have better innate abilities that others, but it isn't clear how one would quantify them numerically, so we will assume they are all even and in the case of ties, their passive can be used as a "tie-breaker". With that, we are ready to dive in!

## What We Are Going To Do